Brotli==1.1.0
certifi==2024.2.2
charset-normalizer==3.3.2
idna==3.6
imagedominantcolor @ git+https://github.com/albertopasqualetto/imagedominantcolor@2f4df942ca6478c659d71c61ceea7d2cae24c897
ImageHash==4.3.1
mutagen==1.47.0
numpy==1.26.4
pillow==10.2.0
pillow_heif==0.15.0
pycryptodomex==3.20.0
PyWavelets==1.5.0
requests==2.31.0
scipy==1.12.0
urllib3==2.2.1
videohash @ git+https://github.com/albertopasqualetto/videohash.git@ea7635c1410ff6c593760648ae3d1dae911e77b5
websockets==12.0
yt-dlp==2024.3.10
